@CHARSET "ISO-8859-1";

#menuAdmin{
	width:180px;
	margin:0px;
	height:300px;
	display:inline-block;
	margin-right:50px;
	float:left;
}

#HlisteA{
	height:30px;
	background:#A2B5BF;
	width:180px;
	

}

.listeA{
	width:180px;
	background:#B8D2A7;
	margin-bottom:3px;
	border:1px solid  black;
	display:block;
	text-align:center;
}

#menuAdmin ul li a{
	text-decoration:none;
}

#menuAdmin .listeA:hover{
	background:#9CB38C;
	
}

#menuAdmin ul .listeA a:hover{
	color:#E1E9DB;
}

#ulAdmin{
	list-style:none;
	
}